*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-poppins);
   line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F9FA;
;

}

h1, h2, h3 {
  font-family: var(--font-playfair);
}

/* Styles de base pour les éléments HTML */
a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input, textarea, select {
  font-family: inherit;
  border: none;
  outline: none;
}

:focus {
 
  outline-offset: 2px;
}

main {
  padding-bottom: 70px;
}